<style type="text/css">
    .header {
      background: #343434;
    }
    .header .columns {
      padding-bottom: 0;
    }
    .header p {
      color: #fff;
      padding-top: 15px;
    }
    .header .wrapper-inner {
      padding: 20px;
    }
    .header .container {
      background: transparent;
    }
    .wrapper.secondary {
      background: #f3f3f3;
    }
    .two-column {
        text-align: center;
        font-size: 0;
    }
    .two-column .column {
        width: 100%;
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
    }
    .contents {
        width: 100%;
    }
    .two-column .contents {
        font-size: 14px;
        text-align: left;
    }
    .two-column img {
        width: 100%;
        max-width: 280px;
        height: auto;
    }
    .two-column .text {
        padding-top: 10px;
    }
    .inner {
        padding: 10px;
    }
    table {
        border-spacing: 0;
        color: #333333;
        font-family: Arial, sans-serif;
    }
  </style>
  <container>
  
    <row>
      <columns small="12" >
        
        <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-left:1px solid #e8e7e5; border-right:1px solid #e8e7e5; border-bottom:1px solid #e8e7e5; padding: 10px" bg="#FFFFFF">
          
          <div width="350" height="150" align="center" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 50%;">
            <a href="www.google.com" style="width:250; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff" class="button_link">
                <img src="http://www.pickmaid.com/dubai/assets/images/success-icon.png" width="60" height="60" style="padding-top:5px" alt="" border="0"/>
            </a>
          </div>

          <tr>
            
              <td align="center" style="padding:0px 40px 40px 40px">
                <p style="color:#F75564; font-size:32px; text-align:center; font-family: Verdana, Geneva, sans-serif">
                  Swift <br> Contactless dining</p>
                <p style="color:#262626; font-size:32px; text-align:center; font-family: Verdana, Geneva, sans-serif">Hello! <br> <%= name %></p>
                  <b style="color:#000000; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif; line-height:22px ">
                  </b><br/>
                  Your account has been successfully activated!</br>
                  
                  <br />
               </p></td>
          </tr>
          <tr style="margin-bottom: 20px">
              <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto;">
                      <tr>
                          <td width="250" height="60" align="center" bgcolor="#2f9780" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;">
                              <a href="https://app.swiftapp.ml/#/login" style="width:250; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff" class="button_link">Proceed to Site
                                  <img src="https://gallery.mailchimp.com/fdcaf86ecc5056741eb5cbc18/images/73ac4376-78ab-4d32-a0b5-b8195202e51f.jpg" width="32" height="17" style="padding-top:5px" alt="" border="0"/>
                              </a>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
        </table>
      </columns>
    </row>
    <wrapper class="secondary">
  
      <row>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #f8f7f7">
          <tr>
              <td height="30">&nbsp;</td>
          </tr>
          <tr>
              <td class="two-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;font-size:0;">
                  <div class="column" style="width:100%;max-width:399px;display:inline-block;vertical-align:top;">
                      <table class="contents" style="border-spacing:0; width:100%">
                          <tr>
                              
                              <td width="61%" align="left" valign="middle" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"><p style="color:#787777; font-size:13px; text-align:left; font-family: Verdana, Geneva, sans-serif"> Regards,<br />
                                      The Swift Team</p></td>
                          </tr>
                      </table>
                  </div>
                  
                  <div class="column" style="width:100%;max-width:399px;display:inline-block;vertical-align:top;">
                      <table width="100%" style="border-spacing:0">
                          <tr>
                              <td class="inner" style="padding-top:0px;padding-bottom:10px; padding-right:10px;padding-left:10px;">
                                <table class="contents" style="border-spacing:0; width:100%">
                                    <tr>
                                        <td width="32%" align="center" valign="top" style="padding-top:10px">
                                          <table width="150" border="0" cellspacing="0" cellpadding="0">
                                        
                                          </table>
                                        </td>
                                    </tr>
                                </table>
                              </td>
                          </tr>
                      </table>
                  </div>
              </td>
          </tr>
          <tr>
              <!-- <td height="30"></td> -->
          </tr>
        </table>
      </row>

        
    </wrapper>
  </container>