# Dependency directories
node_modules/

# VS Code
.vscode/

# DB Credentials
api/config/config-db.json

#Email Credentials
api/config/config-email.json

# OAUTH2 credentials
api/config/config-facebook-oauth.json
api/config/config-google-oauth.json
